extends ../layouts/app.pug

block content
  .row.mt-3
    h3.text-xs-center Registration form
    form(action='/users' method='post')
      .row.form-group
        .col-sm(style='margin-bottom: 10px')
          label.form-label= 'Nickname'
          input.form-control(name='nickname' value=form.nickname)
          if errors.nickname
            .text-danger= errors.nickname
      .row.form-group
        .col-sm(style='margin-bottom: 10px')
          label.form-label= 'Password'
          input.form-control(name='password' type='password')
          if errors.password
            .text-danger= errors.password
      .form-group
        button.btn.btn-success.btn-block(type='submit') Sign up
