extends ../layouts/app.pug

block content
  div  
    a(href='/posts/new') New post

  table.table
    tbody
      tr
        th='Title'
        th='Author'
      each post in posts
        tr
          td
            a(href=`posts/${post.id}`)= post.title
          td= post.author
          td
            form(action=`posts/${post.id}/edit` method='get') 
              input.btn.btn-success(type='submit' value='Edit')
          td
            form(action=`/posts/${post.id}?_method=DELETE` method='post') 
              input.btn.btn-success(type='submit' value='Delete')
              
